@model ICollection<OneHourSport.Web.Models.Picture.PictureViewModel>
@{
    Layout = null;
}

<div class="row col-md-12 text-center">
    <div class="row">
        @Html.Label("Pictures")
    </div>
    <div id="images-box" class="row">
        @{
            var index = 1;
        }
        @foreach (var pic in Model)
        {
            <div class="holder col-sm-3">
                <div id="image-@index" class="image-lightbox">
                    <span class="close"><a href="#">X</a></span>
                    <img src="@Url.Action("GetImage", "Picture", new { area = string.Empty, id = pic.PictureId })" alt="Image" class="" />
                    <a class="expand" href="#image-@index"></a>
                </div>
            </div>
            index++;
        }
    </div>
</div>