@model ICollection<OneHourSport.Web.Models.Comment.CommentViewModel>
@{
    Layout = null;
}

<div>
    @foreach (var item in Model)
    {
        Html.RenderPartial("~/Views/Comment/_SingleCommentPartial.cshtml", item);
    }
</div>