
<div class="row text-center">
    <h3>Comlexes</h3>
</div>
<br />
@(Html.Kendo().Grid<OneHourSport.Web.Areas.Admin.Models.Complex.ComplexViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name);
          columns.Bound(c => c.Description);
          columns.Bound(c => c.WorkHourFrom);
          columns.Bound(c => c.WorkHourTo);
          columns.Bound(c => c.Address);
          columns.Bound(c => c.CityName);
          columns.Bound(c => c.CreatedOn).Format("{0:dd/MM/yyyy HH:MM}"); ;
          columns.Bound(c => c.DeletedOn).Format("{0:dd/MM/yyyy HH:MM}"); ;
          columns.Bound(c => c.IsDeleted);
          columns.Bound(c => c.ModifiedOn).Format("{0:dd/MM/yyyy HH:MM}"); ;

          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ColumnMenu()
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Pageable()
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable(s => s.Height(400))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.OwnerId))
          .Read(read => read.Action("SportComplexes_Read", "ComplexAdmin"))
          .Update(update => update.Action("SportComplexes_Update", "ComplexAdmin"))
          .Destroy(destroy => destroy.Action("SportComplexes_Destroy", "ComplexAdmin"))
      )
)
