@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <hr />
        <h2>Featured</h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        @* Image goes here *@
        <div class="col-md-5">
            <img src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png" class="img-responsive homedisplayImage"/>
        </div>
        @* Info gose here *@
        <div class="col-md-7">
            <label>Haha</label>
            haha
        </div>
    </div>
</div>