body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.coolLi ul li {
    list-style-type: none;
}

.coolSideLines {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    background-color: white;
}

body {
     height: 100%;
     width: 100%;
     background-image: url("defaults/backraoun.png");
}

.navigation {
    background-color: #F4F4F4;
}

.miniMenu {
    background-color: #80A4A5;
}

.miniMenu a {
    color: black;
}

.miniMenu a:hover,
.miniMenu a:focus {
    color: white;
    background-color: transparent;
}
.myBox{
    border: 1px solid #EEEEEE;
}
.centered-profile-image {
    width: 50px;
    height: 47px;
    margin-top: 3%;
    border-radius: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.profileBackground{
    background-color: #DDD;
    font-size: 1.9em;
}
.descriptionBackground{
     background-color: #80A4A5;
    font-size: 1.7em;
}