body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.coolLi ul li {
    list-style-type: none;
}

.coolSideLines {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    background-color: white;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("defaults/backraoun.png");
}

.navigation {
    background-color: #F4F4F4;
}

.miniMenu {
    background-color: #80A4A5;
}

.miniMenu a {
    color: black;
}

.miniMenu a:hover,
.miniMenu a:focus {
    color: white;
    background-color: transparent;
}

.myBox {
    border: 1px solid #EEEEEE;
}

.centered-profile-image {
    width: 50px;
    height: 47px;
    margin-top: 3%;
    border-radius: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.profileBackground {
    background-color: #DDD;
    font-size: 1.9em;
}

.descriptionBackground {
    background-color: #80A4A5;
    font-size: 1.7em;
}

.sportImageSmall {
    margin-top: 2px;
    margin-bottom: 1px;

    height: 30px;
    width: 30px;
}
#wrap{
    color: #435A5A;
}
#wrap a{
    color: #022E2F;
}
.detailsBtn{
    margin-top: 25%;
}
.logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 95px;
    height: 40px;
}
.displayImage{
    width: 200px;
    height:150px;
}
/*.fieldPictureSmall{
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
}*/

/*Images CSS*/

#images-box {
    /* The total width of the image-box, mainly for centering */
    width: 850px;
    margin: 0px auto;
    position: relative;
    top: 10px;
}
 
.image-lightbox img {
    /* Inherit the width and height from the parent element */
    width: inherit;
    height: inherit;
}
 
.holder {
    /* The width and height, you can change these */
    width: 250px;
    height: 166px;
    /* Float left, so everything aligns right */
    float: left;
    margin: 0 20px 0 0;
}
 
.image-lightbox {
    /* Inherit width and height from the .holder */
    width: inherit;
    height: inherit;
    padding: 10px;
    /* Box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 5px;
    /* Position absolutely so we can zoom it out later */
    position: absolute;
    top: 0;
    font-family: Arial, sans-serif;
    /* Transitions to provide some eye candy */
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}
 
.image-lightbox span {
    display: none;
}
.image-lightbox img{
    width:100%;
    height: 100%;
}
 
.image-lightbox .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 
.image-lightbox .close {
    position: absolute;
    width: 20px; height: 20px;
    right: 20px; top: 20px;
}
 
.image-lightbox .close a {
    height: auto; width: auto;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: #22272c;
    box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
    border-radius: 5px;
    font-weight: bold;
    float: right;
}
 
.close a:hover {
    box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}
 
div[id^=image]:target {
    width: 450px;
    height: 300px;
    z-index: 5000;
    position: fixed;
    top: 50px;
    left: 100px;
}
div[id^=image]:target .close {
    display: block;
}
 
div[id^=image]:target .expand {
    display: none;
}
 
div#image-1:target, div#image-2:target, div#image-3:target { left: 200px; }
/*Images CSS*/